{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Sign In</p>
        </header>

       <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-container" data-aos="fade-up">
          <form action="{% url 'credential:login' %}" method="post">
              {% csrf_token %}
            <input type="text" class="form-control mb-3" placeholder="Username" name="username" required>
            <input type="password" class="form-control mb-3" placeholder="Password" name="password" required>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div> <p>Don't have an account? <a href="{% url 'credential:register' %}">Sign Up</a></p>
      </div>
    </div>

    </div>

</section>
{% endblock %}
