{% load static %}
<header class="header fixed-top" id="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a class="logo d-flex align-items-center" href="#">
            <img alt="" src="{% static 'img/logo.png' %}">
            <span>Scholar</span>
        </a>

        <nav class="navbar" id="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li class="dropdown"><a href="#"><span>Departments</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>

                {% if user.is_authenticated %}
                <li><a class="nav-link scrollto" href="#about">hi,{{user.username}}</a></li>
                <li><a class="getstarted scrollto" href="{% url 'credential:logout' %}">Logout</a></li>
                {% else %}
                <li><a class="getstarted scrollto" href="{% url 'credential:login' %}">Login</a></li>
                <li><a class="getstarted scrollto" href="{% url 'credential:register' %}">Register</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
