{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact">
   <div class="container">
       <header class="section-header">
            <p>Sign Up</p>
        </header>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="form-container" data-aos="fade-up">
                    <form  action="{% url 'credential:register' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control mb-3" placeholder="Username" name="uname" required>
                        <input type="password" class="form-control mb-3" placeholder="Password" name="pwd" required>
                        <input type="password" class="form-control mb-3" placeholder="Confirm Password" name="cpwd" required>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
                <p>Have an account? <a href="{% url 'credential:login' %}">Sign In</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
