{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact" xmlns="http://www.w3.org/1999/html">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Sign In</p>
        </header>

        <div class="row justify-content-center"> <!-- Centering the row -->

            <div class="col-lg-6"> <!-- Adjust col-lg-6 based on your desired width -->
                <form action="login" class="php-email-form text-center" method="post">
                    {% csrf_token %}
                    <div class="row gy-4 justify-content-center"> <!-- Centering form elements -->

                        <div class="col-md-8">
                            <input class="form-control" name="uname" placeholder="User Name" required type="text">
                        </div>
                        <div class="col-md-8"> <!-- Adjust the column width as needed -->
                            <input class="form-control" name="pwd" placeholder="Password" required type="password">
                        </div>
                        <div class="col-md-8"> <!-- Adjust the column width as needed -->
                            <input class="form-control" name="cpwd" placeholder="Confirm Password" required type="password">
                        </div>

                        <div class="col-md-8 text-center"> <!-- Adjust the column width as needed -->
                            <input class="btn btn-primary" type="submit">
                        </div>
                        <div class="col-md-8 text-center"> <!-- Adjust the column width as needed -->
                            <p>Have an account? <a href="#">Sign In </a></p>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section>
{% endblock %}
