{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <p>Register</p>
        </header>

        <div class="row justify-content-center">

            <div class="col-lg-6">
                <form action="register" class="php-email-form text-center" method="post">
                    {% csrf_token %}
                    <div class="row gy-4 justify-content-center">

                        <div class="col-md-8">
                            <input class="form-control" name="uname" placeholder="User Name" required type="text">
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" name="pwd" placeholder="Password" required type="password">
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" name="cpwd" placeholder="Confirm Password" required type="password">
                        </div>

                        <div class="col-md-8 text-center">
                            <input class="btn btn-primary" type="submit">
                        </div>
                        <div class="col-md-8 text-center">
                            <p>Have an account? <a href="#">Sign In </a></p>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section>
{% endblock %}
